

/* Color variables */

// $blue-color: #272A4B;

$blue-color: #272A4B;
$blue-color-hover: #1C1D3C;

$orange-color: #FF5B33;
$orange-color-hover: #D84927;

$background-color: #F3F6F8;

$white : #fff
